﻿@model IndexViewModel


<ul class="list-group">
	<li class="list-unstyled list-group list-group-item mb-4 pt-4">
		<h4>
			<span>For Today</span>
			<i class="bi bi-calendar4-event"></i>
		</h4>
		@if (Model.TasksForToday.Count() == 0)
		{
			<p class="ms-4 mt-4 text-muted">There is no task for today.</p>
		}
		else
		{
			<div class="list-group mt-4 mb-2">
				@foreach (var task in Model.TasksForToday)
				{
					<a class="list-group-item list-group-item-action" href=@($"#task{task.Id}")>
						@switch (task.Progress)
						{
							case ToDoProgress.NotStarted:
								<i class="bi bi-circle text-danger"></i>
								break;

							case ToDoProgress.InProgress:
								<i class="bi bi-stopwatch text-info" style="font-size: 1.2rem; line-height: 1.2"></i>
								break;

							case ToDoProgress.Completed:
								<i class="bi bi-check2-circle text-success" style="font-size: 1.2rem; line-height: 1.3"></i>
								break;
						}
						<span>@task.Title</span>
						@if (task.Progress != ToDoProgress.Completed)
						{
							@if (task.DueTime < DateTime.Now)
							{
								<p class="small m-0 ps-4 text-danger" style="font-size: 0.8rem">Deadline exceeded</p>
							}
							else
							{
								<p class="small m-0 ps-4 text-muted" style="font-size: 0.8rem">
									@(
										(task.DueTime - DateTime.Now).Hours
										) hours left
								</p>
							}
						}
					</a>
				}
			</div>
		}
	</li>
	<li class="list-unstyled list-group list-group-item mb-4 pt-4">
		<h4>
			<span>Next 7 days</span>
			<i class="bi bi-calendar4-event"></i>
		</h4>
		@if (Model.TasksForNext7Days.Count() == 0)
		{
			<p class="ms-4 mt-4 text-muted">There are no tasks for the next week.</p>
		}
		else
		{
			<div class="list-group mt-4 mb-2">
				@foreach (var task in Model.TasksForNext7Days)
				{
					<a class="list-group-item list-group-item-action" href=@($"#task{task.Id}")>
						@switch (task.Progress)
						{
							case ToDoProgress.NotStarted:
								<i class="bi bi-circle text-danger"></i>
								break;

							case ToDoProgress.InProgress:
								<i class="bi bi-stopwatch text-info" style="font-size: 1.2rem; line-height: 1.2"></i>
								break;

							case ToDoProgress.Completed:
								<i class="bi bi-check2-circle text-success" style="font-size: 1.2rem; line-height: 1.3"></i>
								break;
						}
						<span>@task.Title</span>
						@if (task.Progress != ToDoProgress.Completed)
						{
							<p class="small m-0 ps-4 text-muted" style="font-size: 0.8rem">
								@((task.DueTime - DateTime.Now).Days) days and @((task.DueTime - DateTime.Now).Hours) hours left
							</p>
						}
					</a>
				}
			</div>
		}
		<ul class="list-group">
		</ul>
	</li>
	@foreach (var todo in Model.ToDoLists)
	{
		<li class="list-unstyled list-group list-group-item mb-4 pt-4">
			<h4>
				<b>@todo.Title</b>
			</h4>
			<p class="small">Created: <time>@todo.CreationTime</time></p>
			<div>
				<a class="btn btn-outline-primary" asp-action="New" asp-controller="Task" asp-route-id="@todo.Id">Add task</a>
				<a class="btn btn-outline-secondary" asp-action="Edit" asp-controller="List" asp-route-id="@todo.Id">
					<i class="bi bi-pen"></i>
				</a>
				<a class="btn btn-outline-secondary" asp-action="Copy" asp-controller="List" asp-route-id="@todo.Id">
					<i class="bi bi-files"></i>
				</a>
				<a class="btn btn-outline-secondary" asp-action="Hide" asp-controller="List" asp-route-id="@todo.Id">
					<i class="bi bi-eye-slash"></i>
				</a>
				<a class="btn btn-outline-danger" asp-action="Delete" asp-controller="List" asp-route-id="@todo.Id">
					<i class="bi bi-trash"></i>
				</a>
			</div>
			<p class="my-3">@todo.Description</p>
			<ul class="list-group">
				@foreach (var task in todo.Entries)
				{
					<li class="list-group-item pt-3" id=@($"task{task.Id}")>
						<div class="d-flex flex-row">
							<p class="me-3 mb-0">
								@switch (task.Progress)
								{
									case ToDoProgress.NotStarted:
										<i class="bi bi-circle text-danger"></i>
										break;

									case ToDoProgress.InProgress:
										<i class="bi bi-stopwatch text-info" style="font-size: 1.2rem; line-height: 1.2"></i>
										break;

									case ToDoProgress.Completed:
										<i class="bi bi-check2-circle text-success" style="font-size: 1.2rem; line-height: 1.3"></i>
										break;
								}
							</p>
							<h5 class="mb-0">@task.Title</h5>
						</div>

						<table class="small my-2 ml-3">
							<tr>
								<td class="pe-3">Added:</td>
								<td>@task.CreationTime</td>
							</tr>
							@if (task.HasDueTime)
							{
								<tr>
									<td class="pe-3">Due Time:</td>
									<td class="text-danger">@task.DueTime</td>
								</tr>
							}
						</table>

						<div class="ml-3">
							<div class="dropdown d-inline-block">
								<a class="btn btn-outline-info btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
									Mark as
								</a>

								<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
									@if (task.Progress != ToDoProgress.NotStarted)
									{
										<a class="dropdown-item" asp-action="Progress" asp-controller="Task" asp-route-id="@task.Id" asp-route-newProgress="@ToDoProgress.NotStarted">Not Started</a>
									}

									@if (task.Progress != ToDoProgress.InProgress)
									{
										<a class="dropdown-item" asp-action="Progress" asp-controller="Task" asp-route-id="@task.Id" asp-route-newProgress="@ToDoProgress.InProgress">In Progress</a>
									}

									@if (task.Progress != ToDoProgress.Completed)
									{
										<a class="dropdown-item" asp-action="Progress" asp-controller="Task" asp-route-id="@task.Id" asp-route-newProgress="@ToDoProgress.Completed">Completed</a>
									}
								</div>
							</div>
							<a class="btn btn-outline-secondary btn-sm" asp-controller="Task" asp-action="Edit" asp-route-id="@task.Id">
								<i class="bi bi-pen"></i>
							</a>
							<a class="btn btn-outline-danger btn-sm" asp-controller="Task" asp-action="Delete" asp-route-id="@task.Id">
								<i class="bi bi-trash"></i>
							</a>
						</div>

						<p class="my-2">@task.Description</p>
					</li>
				}
			</ul>
		</li>
	}
	<li class="list-unstyled list-group list-group-item mt-5 mb-4 pt-4">
		<h4>
			Hidden Lists
			<i class="bi bi-eye-slash"></i>
		</h4>
		@if (Model.HiddenLists.Count() == 0)
		{
			<p class="ms-4 mt-4 text-muted">There are no hidden lists.</p>
		}
		else
		{
			<div class="list-group mt-4 mb-2">
				@foreach (var todo in Model.HiddenLists)
				{
					<a class="list-group-item list-group-item-action" asp-action="Unhide" asp-controller="List" asp-route-id="@todo.Id">
						<i class="bi bi-eye"></i>
						<span>@todo.Title</span>
					</a>
				}
			</div>
		}
	</li>
</ul>
