﻿@using ToDoApp_MVC.Models.ViewModel
@model ToDoEntryViewModel

<h2>@(ViewBag.IsEdit ?? false ? $"Edit the task '{Model.Title}'" : "Adding a new task")</h2>
<hr />

<form method="post">
	<div class="m-1 text-danger" asp-validation-summary="All"></div>

	<div class="form-group mb-3">
		<label class="form-label">Title</label>
		<input class="form-control" asp-for="Title" />
	</div>

	<div class="form-group mb-3">
		<label class="form-label">Description</label>
		<textarea class="form-control" asp-for="Description"></textarea>
	</div>

	<div class="form-group mb-3">
		<input class="form-check-input" type="checkbox" asp-for="HasDueTime" onclick="$('#DueTime').attr('disabled', $('#DueTime').attr('disabled') ? false: true);" />
		<label class="form-check-label" asp-for="HasDueTime">Set Due Time</label>
	</div>

	<div class="form-group mb-3">
		<label class="form-label">Due Date</label>
		@if (Model.HasDueTime)
		{
			<input class="form-control" asp-for="DueTime" />
		}
		else
		{
			<input class="form-control" asp-for="DueTime" disabled />
		}
	</div>

	<button class="btn btn-primary mt-4" type="submit">@(ViewBag.IsEdit ?? false ? "Update" : "Create")</button>
</form>