﻿@using ToDoApp_MVC.Models.Account;
@model LoginModel;


<div class="bg-primary text-center text-white p-2"><h4>Log In</h4></div>

<div class="m-1 text-danger" asp-validation-summary="All"></div>

<form method="post">
	<input type="hidden" name="returnUrl" asp-for="ReturnUrl" />
	<div class="form-group mb-3">
		<label class="form-label">Username</label>
		<input class="form-control" asp-for="UserName" />
	</div>
	<div class="form-group mb-3">
		<label class="form-label">Password</label>
		<input type="password" asp-for="Password" class="form-control" />
	</div>
	<div cite="form-group mt-3">
		<button class="btn btn-primary mt-2" type="submit">Login</button>
		<span>or</span>
		<a class="btn btn-danger mt-2"
		   asp-action="Register"
		   asp-all-route-data="@(new Dictionary<string, string>(){{"ReturnUrl", Model.ReturnUrl }})">
			Register
		</a>
	</div>
</form>