﻿@using ToDoApp_MVC.Models.Account;
@model RegisterModel;


<div class="bg-primary text-center text-white p-2"><h4>Register</h4></div>

<div class="m-1 text-danger" asp-validation-summary="All"></div>

<form method="post">
	<input type="hidden" name="returnUrl" asp-for="ReturnUrl" />
	<div class="form-group mb-3">
		<label class="form-label">Username</label>
		<input class="form-control" asp-for="UserName" />
	</div>
	<div class="form-group mb-3">
		<label class="form-label">First Name</label>
		<input class="form-control" asp-for="FirstName" />
	</div>
	<div class="form-group mb-3">
		<label class="form-label">Last Name</label>
		<input class="form-control" asp-for="LastName" />
	</div>
	<div class="form-group mb-3">
		<label class="form-label">Password</label>
		<input type="password" asp-for="Password" class="form-control" />
	</div>
	<div class="form-group mb-3">
		<label class="form-label">Password Repeat</label>
		<input type="password" asp-for="PasswordRepeat" class="form-control" />
	</div>
	<button class="btn btn-primary mt-3" type="submit">Register</button>
</form>