﻿@model ToDoList

<h3>Confirm deleting the task '@Model.Title'</h3>
<form method="post">
	<input type="hidden" name="listId" value="@Model.Id" />
	<button class="btn btn-danger mt-4" type="submit">Confirm</button>
</form>