﻿@using ToDoApp_MVC.Models.ViewModel
@model ToDoListViewModel

<h2>
	@(ViewBag.IsEdit ?? false ? $"Update the list '{Model.Title}'" : @ViewBag.IsCopy ?? false ? $"Creating a new copy of '{@Model.Title}' list" : "Adding a new to-do List")
</h2>
<hr />

@{
	if (ViewBag.IsCopy ?? false)
	{
		Model.Title = $"Copy of {Model.Title}";
	}
}

<form method="post">
	<div class="m-1 text-danger" asp-validation-summary="All"></div>

	<div class="form-group mb-3">
		<label class="form-label">Title</label>
		<input class="form-control" asp-for="Title" />
	</div>

	<div class="form-group mb-3">
		<label class="form-label">Description</label>
		<textarea class="form-control" asp-for="Description"></textarea>
	</div>

	<button class="btn btn-primary mt-4">@(ViewBag.IsEdit ?? false ? "Update" : "Create")</button>
</form>